


<section class="menu">

 <!-- <div class="card" style="width: 18rem;" *ngFor="let product of menu">
    <img [src]="product.image" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{product.name}}</h5>
      <p class="card-text">{{product.price}}</p>
       <p class="card-text">{{product.nuts == true ? "with nuts" : "without nuts"}}</p>
     
    </div>
  </div> -->
     
      <app-button [text]="'See More'"></app-button>

      <app-menu-card *ngFor="let el of menu" [singleProduct]="el"  class="card" style="width: 18rem;"></app-menu-card>

</section>