
.cards{
    display: flex;
    justify-content: center;
    gap: 20px;
}



.pic{
    width: 100%;
    height: 20vh;
    background-image: url(../../../public/images/c837a6_aa7c239e685b4a9989f2ab7fbbeb106b~mv2.png);
    background-position: center;
    background-size: cover;

}


@media screen  and (max-width: 800px){
    .cards{
        flex-direction: column;
    }
}